@import "./variables.scss";

.pagination_button_base {
	padding: 15px;
	margin: 10px 10px;
	background-color: $component-background-color;
	border-radius: 10px;
	color: white;
	font-size: 30pt;
}

.pagination_button_right {
	@extend .pagination_button_base;
	float: right;
}
